@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400;1,500&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;1,400;1,500&family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #fcebd5;
  margin: 0;
  padding: 0;
  width: 414px;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  height: 69px;
  position: relative;
}

.logo-and-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header-section .logo-and-header a img {
  height: 104px;
  width: 104px;
  position: relative;
  top: 10px;
  left: -10px;
}

.header-section .logo-and-header h1 {
  font-family: Reenie Beanie;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #a16a5e;
  position: absolute;
  top: 20px;
  left: 105px;
}
#visitorAuctionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.content img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
}
h3 {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  color: #a16a5e;
}
h4 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  color: #a16a5e;
  text-align: center;
}
h2 {
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  color: #a16a5e;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bidding {
  display: flex;
  flex-direction: column;
}
.bidding div {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  color: #a16a5e;
  text-align: center;
}
.results-wrapper {
  display: flex;
  flex-direction: column;
}
.input-and-button-wrapper {
  display: flex;
  justify-content: space-between;
}
input {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  background-color: #a16a5e;
  color: #fcebd5;
  text-align: center;
}
.input-and-button-wrapper button {
  cursor: pointer;
  color: #fcebd5;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500px;
  line-height: normal;
  background-color: red;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
